references/Litter-collecting-robot-master/Hardware
references/Litter-collecting-robot-master/Photos
references/Litter-collecting-robot-master/Webots simulation
references/Litter-collecting-robot-master/Documents